.topBarGame {
  display: flex;
  flex-direction: row;
  background-color: brown;
}

.targetsToFindContainer {
  display: flex;
  flex-direction: row;
}

.targetContainer {
  position: relative;
}

.cancelImg {
  position: absolute;
}
